adding a column to the dataset called 'rating'.  This will provide a qualatative meaning to the 'quality' value.  "rating" will be cateorical with the following levels:
- poor (0-3)
- average (4-7)
- excellent (7-10)

In [1]:
rating={0: 'poor',1:'poor', 2: 'poor', 3: 'poor', 4: 'average', 5: 'average', 6: 'average', 7: 'excellent', 8: 'excellent', 9: 'excellent', 10: 'excellent'}

In [2]:
rating[5]

'average'

In [3]:
rating[10]

'excellent'

In [4]:
import pandas as pd
wine_qual=pd.read_csv('wineQualityWhites.csv')

In [8]:
wine_qual.head()

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,2,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,3,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,5,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
wine_qual['rating'] = wine_qual['quality'].apply(lambda x: 'poor' if x <=3 else('average' if x<=6 else ('excellent')))

In [6]:
wine_qual.sample(5)

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,rating
3930,3931,6.1,0.28,0.26,1.5,0.030,25.0,101.0,0.98894,3.03,0.41,12.100000,6,average
330,331,6.4,0.32,0.35,4.8,0.030,34.0,101.0,0.99120,3.36,0.60,12.500000,8,excellent
1672,1673,6.6,0.26,0.31,4.8,0.138,41.0,168.0,0.99510,3.20,0.38,9.300000,5,average
560,561,6.7,0.21,0.42,9.1,0.049,31.0,150.0,0.99530,3.12,0.74,9.900000,7,excellent
4818,4819,6.0,0.27,0.40,1.7,0.021,18.0,82.0,0.98910,3.24,0.95,13.133333,6,average

In [7]:
wine_qual.to_csv('wineQualityWhite_ratings.csv')

In [8]:
wine_qual['rating'].value_counts()

average      3818
excellent    1060
poor           20
Name: rating, dtype: int64

In [16]:
wine_qual['tot_acid']=wine_qual['fixed.acidity']+wine_qual['volatile.acidity']+wine_qual['citric.acid']

In [18]:
wine_qual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 15 columns):
Unnamed: 0              4898 non-null int64
fixed.acidity           4898 non-null float64
volatile.acidity        4898 non-null float64
citric.acid             4898 non-null float64
residual.sugar          4898 non-null float64
chlorides               4898 non-null float64
free.sulfur.dioxide     4898 non-null float64
total.sulfur.dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
rating                  4898 non-null object
tot_acid                4898 non-null float64
dtypes: float64(12), int64(2), object(1)
memory usage: 554.9+ KB

In [25]:
wine_qual_short = wine_qual.drop(['fixed.acidity', 'volatile.acidity','citric.acid', 'Unnamed: 0', 'quality'], axis = 1)

In [26]:
wine_qual_short.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 10 columns):
residual.sugar          4898 non-null float64
chlorides               4898 non-null float64
free.sulfur.dioxide     4898 non-null float64
total.sulfur.dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
rating                  4898 non-null object
tot_acid                4898 non-null float64
dtypes: float64(9), object(1)
memory usage: 363.6+ KB

In [27]:
wine_qual_short.to_csv('wine_qual_short.csv')